<div class="container">
    <nickname></nickname>
    <div class=row>
        <div class="col s4">
            <div class="row">
                <h5>Chat Rooms</h5>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input name="new_room_name" [(ngModel)]="newRoomName" (keyup.enter)="addRoom()" type="text" class="validate">
                    <label for="new_room_name">Enter new room name here</label>
                </div>
            </div>
            <ul class="collection with-header">
                <li class="collection-item" title="select this room" [class.active]="room===roomsService.selectedRoom " (click)="onClick(room)" *ngFor="let room of roomsService.rooms | async ">
                    <div>{{room.name}}<a class="secondary-content"><i class="material-icons" title="delete this room">delete</i></a></div>
                </li>
            </ul>
        </div>
        <div class="col s8 ">
            <room></room>
        </div>
    </div>
</div>